@font-face {
  font-family: Toy;
  src: url('../../assets/fonts/ofont.ru_Toyz.ttf')
}

@media (hover:hover) {
  .section-one {
    .level {
      .level-inputs {
        label {
          &:hover {
            border-color: rgb(1, 255, 14);
            color: black;
          }
        }
      }
    }
  
    .buttons {
      .button {
        &:hover {
          border: 2px solid rgb(171, 255, 4);
          color: black;
          transform: scale(1.1);
          background: linear-gradient(45deg, #f6ee03 0%, #00ff00 90%);
        }
      }
  
      .repeatGame.inactive {
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
  
  .section-two {
    .button-start {
      &:hover {
        filter: drop-shadow(1px 1px 10px rgb(132, 8, 8));
      }
    }
  }
  
  .section-three {
    .key {
      &:hover {
        border: 1px solid rgb(0, 254, 13);
        background: linear-gradient(45deg, #00fff0 10%, #04ab04 80%);
        transform: scale(1.1);
        color: black;
      }
    }
  }
  
  .modalWindow {
    .modalButton {
      .btnModal {
        &:hover {
          color:#060806;
          transform: scale(1.1);
          border: 2px solid green;
          box-shadow: 1px 1px 10px 3px green;
        }
      }
    }
  }
}

body {
  margin: 0;
  padding: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/image/fone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1000px;
  max-height: calc(100vh - 50px);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
  border-radius: 20px;
  box-shadow: 0px 0px 300px 3px red, inset 0px 0px 100px 1px rgb(136, 255, 0);
  overflow: hidden;
}

.section-one {
  display: flex;
  gap: 40px;
  padding: 20px 0 0px 0;

  .raund-title, .level-title  {
    text-align: center;
    font-size: 18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#026202;
    text-shadow: 1px 1px 2px rgba(81, 81, 81, 0.5);
  }

  .level {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .level-inputs {
      display: flex;
      justify-content: center;

      input[type="radio"] {
        appearance: none;
      }

      label {
        color: #6b6d6d;
        font-size: 16px;
        font-weight: 700;
        padding: 5px;
        border: 2px solid rgb(148, 148, 148);
        border-radius: 10px;
        background: linear-gradient(90deg, #9ba9a8 0%, #e7aaaa 80%);
        cursor: pointer;
        transition: all 0.5s ease;
        margin-right: 5px;
      }

      input:checked + label {
        color: black;
        padding: 5px;
        border: 2px solid rgb(23, 230, 23);
        border-radius: 10px;
        background: linear-gradient(90deg, #00fff0 0%, #00ff00 80%);
        transform: scale(1.2);
        pointer-events: none;
      }
    }
  }

  .raund {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .raund-number {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 16px;
      color: black;
      width: 20px;
      padding: 5px;
      border: 2px solid rgb(23, 230, 23);
      border-radius: 10px;
      background: linear-gradient(90deg, #00fff0 0%, #00ff00 80%);
      transform: scale(1.2);
      pointer-events: none;
    }
  }

  .buttons {
    display: none;
    flex-direction: column;
    gap: 15px;

    .button {
      border: 2px solid rgb(114, 206, 117);
      outline: none;
      background: linear-gradient(45deg, #00fff0 20%, #00ff00 50%);
      border-radius: 10px;
      padding: 5px;
      font-weight: 600;
      transition: 0.3s linear;
      color: #6b6d6d;
      cursor: pointer;
    }

    .repeatGame.inactive {
      background-color: red;
      color: rgb(178, 172, 172);
      border: 2px solid rgb(220, 225, 221);
      background: linear-gradient(45deg, #9cd4d0 20%, #83e183 50%);
      cursor: no-drop;
    }
  }
}

.section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
  width: 100%;
  height: 200px;

  .button-start {
    display: flex;
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: filter 0.5s linear;
  }

  .button-start img {
    width: 100%;
  }

  .text-block {
    display: none;
    width: 320px;
    min-height: 100px;
    background-image: url("../../assets/image/foneText.jpg");
    border: 1px solid red;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 1.5;
    vertical-align: middle;
    color: #3d3f3f;
    overflow: hidden;
  }
}

.section-three {
  display: flex;
  justify-content: center;
  padding: 0px 0 20px 0;

  .keybord {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    background-image: url("../../assets/image/fone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 10px rgb(20, 194, 156);
    max-width: 75%;
  }

  .key {
    color: #3d3f3f;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid red;
    border-radius: 5px;
    background: linear-gradient(45deg, #00fff0 10%, #00ff00 60%);
    cursor: pointer;
    transition: 0.4s linear;
  }

  .key-click {
    border: 1px solid rgb(0, 127, 254);
      background: linear-gradient(45deg, #04ff00 10%, #0479ab 80%);
      transform: scale(1.2);
      color: black;
  }
}

.modalTransparent {
  display: none;
  background-color: rgba($color: #000000, $alpha: 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalWindow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background-image: url("assets/image/fone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid red;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 1px 1px 10px 3px rgb(225, 74, 4);

  .modalImg {
    width: 200px;
    height: 200px;

    img {
      width: 100%;
    }
  }

  .modalText {
    font-size: 30px;
    font-family: Toy, sans-serif;
    color:  red;
    text-align: center;
  }

  .modalButton {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .btnModal {
      background: linear-gradient(45deg, #19ca16 10%, #ab1d04 80%);
      border: 2px solid red;
      border-radius: 5px;
      padding: 10px;
      font-size: 18px;
      font-weight: 700;
      color: aquamarine;
      cursor: pointer;
      transition: all 0.3s linear;
    }
  }
}

@media (max-width: 1050px) {
  .container {
    max-width: calc(100vw - 50px);
  }
}

@media (max-width: 700px) {
  .container {
    max-width: calc(100vw - 30px);
    max-height: calc(100vh - 30px);
  }
  .section-two {
    height: 30vw;
    .button-start {
      width: 30vw;
      height: 30vw;
    }
  
    .text-block {
      min-height: 80px;
      padding: 10px;
      font-size: 45px;
    }
  }

  .section-three {
    .keybord {
      gap: 8px;
      padding: 8px;
      box-shadow: inset 0px 0px 10px rgb(20, 194, 156);
      max-width: 85%;
    }
  
    .key {
      width: 38px;
      height: 38px;
    }
  }

  .modalWindow {
    width: 270px;
    height: 400px;
    gap: 15px;

    .modalText {
      font-size: 25px;
    }
  }
}

@media (max-width: 400px) {
  .container {
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
  }
  .section-one {
    gap: 20px;
    padding: 10px 0 0px 0;
  }

  .section-two {
    padding: 10px 0 10px 0;
    width: 100%;
    height: 110px;
  
    .button-start {
      width: 110px;
      height: 110px;
    }

    .text-block {
      width: 280px;
      font-size: 40px;
    }
  }

  .section-three {
    padding: 0px 0 10px 0;
    .keybord {
      gap: 8px;
      padding: 7px;
      max-width: 90%;
    }
  
    .key {
      width: 38px;
      height: 38px;
    }
  }
}
